.profile-pic{
    height: 400px;
    border-radius: 200px;
}

@media screen 
and (min-device-width : 375px) 
and (max-device-width : 812px){
    .profile-pic{
        height: 300px;
        border-radius: 200px;
    }
}